
aside {
  float: left;
}

main {
  float: left;
}
h3 {
    float: right;
}
li {
    float: right;
}
h1 {
    float: left;
}
text {
    float: right;
}
.name {
    float: left;
}
img {
    float: left;
}
<<<<<<< HEAD
.container
{
  float: left;
}
=======
>>>>>>> 3422d3d25d12e6f469afa5f776a5d20e511ade2a
