
aside {
  float: left;
}

main {
  float: left;
}
h3 {
    float: right;
}
li {
    float: right;
}
h1 {
    float: left;
}
text {
    float: right;
}
.name {
    float: left;
}
img {
    float: left;
}
.container
{
  float: left;
}
