body {
    padding: 0;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    line-height: 150%;
    color: #333333;
    background: #efeee7;
}
.name {
  margin: 0 auto;
  margin-top: 50px;
  width: 100px;
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.25em;

}
.container {
    margin: 0 auto;
    margin-top: 50px;
    width: 1000px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.25em;
  }
  li {
    height: 10px;
    padding: 10px;
    word-wrap: normal;
    display: inline-block;
    line-height: 1px;
    color:#1e5799;
    border-right: 1px solid #000;
  }
  header {
    background-color: #4AAAA5;
    height: 100px;
    padding: 10px;
  }
  .banner {
    background-color: #4AAAA5;
    height: 100px;
    padding: 10px;
  }
  h2 {
    background-color: #e8e8e8;
    height: 10px;
    padding: 10px;
  }
  
  section {
    background-color: #e8e8e8;
    width: 800px;
    height: 400px;
    padding: 10px;
  }
  
  article {
    background-color: #e8e8e8;
      margin-left: auto;
      margin-right: auto;
    display: block;
    background-color: #e8e8e8;
    width: 700px;
    height: 150px;
    padding: 10px;
  }
  
  footer {
    background-color: #e8e8e8;
    width: 1000px;
    height: 960px;
    padding: 10px;
    border: 1px solid white;
  }
  
h1 {
    padding: 20px 0;
    margin: 0;
    margin-bottom: 20px;
    font-size: 28px;
    color: #4AAAA5;
    text-align: center;
    
}
h3 {
  padding: 0;
  margin: 0;
  margin-bottom: 150px;
  font-size: 12px;
  color: #333333;
  text-align: left;
}
a {
    color: #d210d2;
}
.container {
    width: 1024px;
    margin: 0 auto;
}
