body {
    padding: 0;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    line-height: 150%;
    color: #333333;
    background: #efeee7;
}
.container {
    margin: 0 auto;
    margin-top: 50px;
    width: 1000px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.25em;
  }
  li {
    height: 10px;
    padding: 10px;
    word-wrap: normal;
    display: inline-block;
    line-height: 1px;
    color:#1e5799;
    border-right: 1px solid #000;
  }
  header {
    background-color: #1D88E5;
    height: 100px;
    padding: 10px;
    border: 1px solid white;
  }
  
  section {
    background-color: #1D88E5;
    width: 300px;
    height: 400px;
    padding: 10px;
    border: 1px solid white;
  }
  
  article {
    background-color: #1D88E5;
    width: 700px;
    height: 400px;
    padding: 10px;
    border: 1px solid white;
  }
  
  footer {
    background-color: #1D88E5;
    width: 1000px;
    height: 100px;
    padding: 10px;
    border: 1px solid white;
  }
  
h1 {
    padding: 20px 0;
    margin: 0;
    margin-bottom: 20px;
    font-size: 28px;
    color: #efeee7;
    text-align: center;
    
}
a {
    color: #d210d2;
}
.container {
    width: 1024px;
    margin: 0 auto;
}
